- name: Install NGINX package
  become_method: sudo
  apt:
    name: nginx
    state: latest
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Copy nginx configs
  become: true
  become_method: sudo
  become_user: root
  template:
    src: "{{ item.src }}"
    dest: "/etc/nginx/sites-enabled"
    mode: "0700"
    owner: "root"
    group: "root"
  with_community.general.filetree: "../files/"

- name: Check NGINX config 
  command: nginx -t 
  notify: 
    - nginx systemd



